<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('common/head'); %>
</head>

<body>
	<%- include('common/header'); %>
		<div class="mx-16 my-8">
			<form method="POST">
				<input type="submit" value="Get 1 coin" class="bg-blue-500 px-4 py-2 text-white rounded" />
			</form>
		</div>
</body>

</html>