<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('common/head'); %>
</head>

<body>
	<%- include('common/header'); %>
		<div class="mx-16 my-8">
			<div class="my-8">
				<h1 class="text-4xl font-bold">Hello <%= user.username %>!</h1>
				<h3 class="text-xl my-2">Your coin: <%= user.coins %>
				</h3>
				<p><a href="/getcoin" class="text-blue-600 hover:underline">get free coin</a></p>
			</div>
			<div class="my-16">
				<h2 class="text-2xl font-bold my-4">Today's flag</h2>
				<% if (user.coins>= 5000000000000000) { %>
					<p>
						<%= flag %>
					</p>
					<% } else { %>
						<p class="px-8 py-4 bg-gray-200 w-fit">You need <%= 5000000000000000 - user.coins %> more coins to get the flag.
						</p>
						<% } %>
			</div>
		</div>

</body>

</html>