<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('common/head'); %>
</head>

<body>
	<%- include('common/header'); %>
	<form method="POST" class="bg-white mx-16 px-8 pt-6 pb-8 mb-4">
		<div class="mb-4">
			<label class="block text-gray-700 text-sm font-bold mb-2" for="username">
				Username
			</label>
			<input
				class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
				id="username" type="text" name="username" placeholder="Username">
		</div>
		<div class="flex items-center justify-between">
			<input
				class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
				type="submit" value="Register" />
		</div>
	</form>
</body>

</html>