<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('common/head'); %>
</head>

<body>
	<%- include('common/header'); %>
		<div class="mx-16 my-8">
			<h2 class="text-4xl font-bold">
				<%= user.username %>
			</h2>

			<p class="my-4 text-lg">aaaaaaa</p>
			<% if (user.username === me.username) { %>
				<a href="/edit" class="text-blue-600 hover:underline">edit profile</a>
			<% } %>
		</div>
</body>

</html>