<div class="sticky h-20 w-full px-12 flex items-center justify-between bg-blue-200">
	<a href="/">
		<h1 class="text-4xl font-bold">GetFreeCoins</h1>
	</a>
	<div class="flex">
		<% if (user) { %>
			<button class="hover:underline font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button"
				onClick="location.href='/logout'">
				Logout
			</button>
			<% } %>
	</div>
</div>