<input id="input"></input><button onclick="check()">check solve</button>
<script>
 function check() {
     checkSolve(document.getElementById('input').value);
 }

 async function checkSolve(n) {
     const o = {"0":"","48":"0","95":"_","107332":"log","107868":"map","3151786":"from","3267882":"join","3344077":"mark","3373707":"name","92960979":"angle","99463871":"hope{","109526418":"slice","400256961":"you got it!","757893007":"padStart","1207387375":"wrong flag :(","1811681647":"_sold!}","-1074417128":"[object Object]","-1523887726":"SHA-256","-989967315":"fromCharCode","-1106363674":"length","-1776922004":"toString","-1266514778":"frames","-1013175693":"onLine","-1439500848":"orientation","-1298776554":"encode","-1331913276":"digest","-891528531":"subtle"}
     const e = "oHoe";
     const t = new Uint8Array([111, 72, 111, 101]);
     const r = [166, 122, 63, 173, 78, 180, 71, 117, 203, 64, 80, 42, 34, 125, 255, 122, 234, 145, 225, 143, 182, 6, 46, 253, 163, 213, 248, 171, 122, 119, 31, 197];
     const a = Array.from(new Uint8Array(r));
     const c = a
         .map(function(n) {
             return n.toString(16).padStart(2, '0');
         })
         .join('');

     const i = c.slice(0, 16);
     console.log("hope{" + e + "_" + i + "_sold!}")
     if ( n === "hope{" + e + "_" + i + "_sold!}" ) {
         console.log("you got it!");
     } else {
         console.log("wrong flag :(");
     }
 }
</script>
